.title {
    text-align: center;
}

h1 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
}

.Banner {
    height: 480px;
    background-color: #FFAC4D; // orange
    text-align: center;
}
.graphic {
    text-align: center;
    background-position: center;
    background-image: url(../img/policeofficer.svg);
    background-repeat: no-repeat;
    height: 150vh;
    position: relative;
}

.contact-them {
    background-color: #2E67FF;
    height: 35vh;
}

.share-this {
    height: 50vh;
    background-color: #CC5446;
}

.learn-more {
    height: 35vh;
    background-color: #1878D7;
}


.kpi {
    font-weight: 600;
    font-size: 96px;
}

#indicator1 {
    color: white;
    position: absolute;
    right: 40px;
    top: 100px;
    height: 256px;
    width: 256px;
    border-radius: 4px;
    box-shadow: 4px 4px 4px #888888;
    padding: 12px;
    background-color: pink;
}
